@media (min-width: 400px){
  /*Starfield styles*/
  #space {
    position: absolute;
  	top: 0;
  	left: 0;
    background: #203062;
    width: 100%;
  }

  .stars{
    height: 40%;
  }


  h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    line-height: 65px;
    color: yellow;
    z-index: 4;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 5px yellow;
    letter-spacing: 12px;
  }

  h1 span{
    display: block;
  }

  p{
    color: white;
    font-size: 20px;
    width: 600px;
    z-index: 4;
    position: relative;
    /*text-align: center;*/
  }

  nav{
    z-index: 4;
    position: relative;
  }

  .navbar-inverse{
    background-color: rgba(255,255,255, 0);
    border: none;
  }

  .navbar-inverse .navbar-toggle .icon-bar{
    background-color: teal;
  }






} /*END styles for min-width: 400px*/
