@media (min-width: 300px){

  /*Starfield styles*/
  #space {
    position: absolute;
  	top: 0;
  	left: 0;
    background: rgba(32, 48, 98, 0.8);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    width: 100%;
  }

  body{
    background: #1D2B5A;
  }

  h1{
    color: #F3F359;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    display: inline-block;
    width: 100%;
  }

  p{
    color: #e1dfdf;
  }

  .stars{
    height: 430px;
    overflow: hidden;
    position: relative;
    padding: 50px 8px;
    margin-top: 0px;
  }

  .stars .col-sm-4 {
    float: left;
    width: 33.333%
  }

  .stars p{
    padding: 0px;
  }

  .stars h1{
    font-size: 60px;
    line-height: 65px;
    z-index: 4;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 5px MidnightBlue;
    letter-spacing: 12px;
    margin-top: 35px;
  }

  .stars h1 span{
    display: block;
  }

  .stars p{
    font-size: 20px;
    color: #e1dfdf;
    z-index: 4;
    position: relative;
    text-align: center;

  }

  .stars ul{
    position: relative;
    color: white;
    width: 150%;
    padding: 0px;
    margin-left: -10px;
  }

  .stars .row{
    padding: 0 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .stars .col-sm-4{
    padding: 0px 0px 0px 0px;
  }

  .stars .col-sm-4 p{
    font-size: 15px;
    text-decoration: none;
    margin-top: 15px;
  }

  .stars .row{
    margin-top: 25px;
    padding: 0;
  }

  .stars .col-sm-4 img{
    width: 16px;
    height: auto;
    margin-right: 3px;
    margin-bottom: 4px;
    display: inline;
  }

  .stars .row .col-sm-4.socialMedia a div{
    font-size: 40px;
    text-align: center;
    color: #007F91;
    height: auto;
    transition: all 0.5s ease;
  }

  .stars .row .col-sm-4.socialMedia a div:hover{
    color: #e1dfdf;
  }
  .stars .row .col-sm-4.socialMedia .githubIcon{
    float: right;
  }
  .stars .row .col-sm-4.socialMedia .twitterIcon{
    float: left;
  }
  .stars .row .socialMedia .col-sm-4{
    width: 25%;
  }

  nav{
    z-index: 4;
    position: relative;
  }

  .navbar{
    background-color: #1D2B5A;
    border: none;
  }

  .navbar li a{
    color: #e1dfdf;
    font-size: 15px;
    text-shadow: none;
  }

  .navbar li a:hover{
    background-color: #009999;
  }

  .navbar li a:focus{
    background-color: #009999;
  }

  .navbar-toggle{
    border:none;
  }

  .navbar-toggle:hover{
    background-color: #203062;
  }

  .navbar-toggle .icon-bar{
    background-color: #a2d0cf;
  }

  .navbar-collapse {
    width: 100%;
  }
  .sky{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#203062+0,207cca+99 */
    background: #203062; /* Old browsers */
    background: -moz-linear-gradient(top, #203062 0%, #207cca 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #203062 0%,#207cca 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #203062 0%,#207cca 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203062', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
    margin-top: -20px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);

  }

  .sky h1{
    margin-top: 40px;
  }

  .sky .bio p{
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    margin: 5px 35px 0px 35px;
    text-align: justify;
    font-weight: 300;
    text-justify: distribute;
  }

  .sky .bio p img{
    max-width: 145px;
    float: left;
    margin-right: 14px;
    padding-top: 4px;
    border-radius: 25px;
  }

  .portfolio{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#287dc8+0,75b4e5+46,7ba9e5+61,778be5+87,6a80e2+100 */
    background: #287dc8; /* Old browsers */
    background: -moz-linear-gradient(top, #287dc8 0%, #75b4e5 46%, #7ba9e5 61%, #778be5 87%, #6a80e2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #287dc8 0%,#75b4e5 46%,#7ba9e5 61%,#778be5 87%,#6a80e2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #287dc8 0%,#75b4e5 46%,#7ba9e5 61%,#778be5 87%,#6a80e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287dc8', endColorstr='#6a80e2',GradientType=0 ); /* IE6-9 */
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  }

  .portfolio h1{
    margin-top: 30px;
  }

  .portfolio .container .row a img{
    max-width: 95%;
    margin: 15px 0px 15px 7px;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .portfolio .container .row a img:hover{
    opacity: 0.5;
    transition: all 0.5s ease
  }

  .portfolio .container .row h3{
    font-size: 24px;
    color: whitesmoke;
    font-weight: 400;
    margin-left: 5px;
  }

  .portfolio .container .row p{
    color: azure;
    padding: 5px;
    font-weight: 300;
    font-size: 17px;
  }

  .portfolio .container .row span{
    font-weight: 500;
  }

  .portfolio .container .row hr{
    margin: 17px;
  }

  .contact{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b82df+0,9b80bf+19,9b80bf+19,c48cb2+44,cd94b1+51,cd94b1+51,e89f99+83,e8928b+99 */
    background: #6b82df; /* Old browsers */
    background: -moz-linear-gradient(top, #6b82df 0%, #9b80bf 19%, #9b80bf 19%, #c48cb2 44%, #cd94b1 51%, #cd94b1 51%, #e89f99 83%, #e8928b 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6b82df 0%,#9b80bf 19%,#9b80bf 19%,#c48cb2 44%,#cd94b1 51%,#cd94b1 51%,#e89f99 83%,#e8928b 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6b82df 0%,#9b80bf 19%,#9b80bf 19%,#c48cb2 44%,#cd94b1 51%,#cd94b1 51%,#e89f99 83%,#e8928b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b82df', endColorstr='#e8928b',GradientType=0 ); /* IE6-9 */
    height: 400px;
    position: relative;
  }

  .contact h2{
    margin: 60px 0px;
    font-size: 28px;
    text-align: center;
    color: azure;
  }

  .contact .contact-me{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    width: 280px;
    font-weight: bold;
    color: #D498AA;
  }

  .contact .contact-me span{
    display: inline-block;
  }

  .contact .contact-me a{
    border: none;
    text-decoration: none;
  }

  .contact .contact-me:hover{
    background-color: #e8aebf;
    color: white;
    transition: all 0.5s ease;
  }

  footer{
    background-color: #E6928C;
    font-size: 15px;
    text-align: center;
    color: azure;
    padding-bottom: 10px;
  }
} /*END styles for min-width: 300px*/


@media (min-width: 480px){

   h1{
     font-size: 42px;
   }

   .stars h1{
     font-size: 65px;
   }

   .stars p{
     font-size: 22px;
   }

   .stars .row{
     margin-top: 20px;
   }

   .stars .col-sm-4.star p{
     font-size: 17px;
   }

   .stars .col-sm-4.star img{
     width: 20px;
   }

  .stars .row .col-sm-4.socialMedia a div{
    font-size: 45px;
  }

  .sky{
    padding: 15px 5px;
  }

  .sky .bio p{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    margin: 10px 35px 0px 35px;
  }

  .sky .bio p img{
    max-width: 155px;
    margin-right: 14px;
    padding-top: 8px;
  }

  .portfolio{
    padding: 18px 10px;
  }

  .portfolio .container .row p{
    font-size: 20px;
  }

  .portfolio .container .row h3{
    margin-bottom: 30px;
    font-size: 25px;
    color: azure;
  }

  .portfolio .container .row a img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .contact .contact-me{
    padding: 18px 0px;
    font-size: 29px;
    width: 300px;
  }
}/*END styles for min-width: 480px*/


@media(min-width: 768px){
  hr{
    display: none;
  }

  .container{
    width: 100%;
    padding-right: 15px; */
    padding-left: 15px;
  }
}/*END styles for min-width: 768px*/

@media(min-width: 1024px){
  .stars h1{
    font-size: 70px;
    line-height: 80px;
  }

  .stars .col-sm-4.star img{
    width: 22px;
    margin-right: 8px;
  }

  .sky{
    margin-top: 0px;
  }

  .sky .bio{
    padding: 10px 0px;
  }

  .sky .bio p {
    font-size: 19px;
  }

  .contact .contact-me{
    padding: 25px 0px;
    font-size: 32px;
    width: 380px;
  }

}/*END styles for min-width: 1024px*/
