@media (min-width: 400px){
  /*Starfield styles*/
  #space {
    position: absolute;
  	top: 0;
  	left: 0;
    background: rgba(32, 48, 98, 0.8);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    /*background: #203062;*/
    width: 100%;
  }

  body{
    background: #1D2B5A;
  }

  .stars{
    height: 430px;
    overflow: hidden;
    position: relative;
    padding: 50px;
  }


  .stars h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    line-height: 65px;
    color: #F3F359;
    z-index: 4;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 5px MidnightBlue;
    letter-spacing: 12px;
    margin-top: 50px;
  }

  .stars h1 span{
    display: block;
  }

  .stars p{
    font-size: 20px;
    color: #e1dfdf;
    z-index: 4;
    position: relative;
    text-align: center;
    margin-left: -13px;
  }


  nav{
    z-index: 4;
    position: relative;
  }

  .navbar{
    background-color: rgba(0, 0, 0, 0.06);
    border: none;
  }

  .navbar a{
    color: #F3F359;
  }

  .navbar-toggle{
    border:none;
  }

  .navbar-toggle:hover{
    background-color: #203062;
  }

  .navbar-toggle .icon-bar{
    background-color: #a2d0cf;
  }

  .sky{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#203062+0,207cca+99 */
    background: #203062; /* Old browsers */
    background: -moz-linear-gradient(top, #203062 0%, #207cca 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #203062 0%,#207cca 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #203062 0%,#207cca 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203062', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
    height: 500px;
    margin-top: -15px;
    /*Height was 300px*/
  }






} /*END styles for min-width: 400px*/
